.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
}

.shape {
  border: 2px solid green;
  padding: 20px;
  height: 100%;
  width: 70%;
}

#shape1 {
  border-radius: 200px;
}

#shape2 {
  border-radius: 50px;
}

#shape3 {
  border-radius: 50px 20px;
}

#shape4 {
  border-radius: 20px 50px;
}

#shape5 {
  border-radius: 20%;
}

#shape6 {
  border-radius: 50%;
}
